HTML {
	width: 100%;
	height: 100%;
	min-width: 500px;
	min-height: 100%;
    background-color: /*#ccff99*/#fafff0 !important;
	
	background: url(/images/willow_med_logo_small.png) no-repeat center center fixed;
}
body{
	min-width: 100%;
	min-height: 100%;
    background: rgba(247, 255, 233, 0.9);
}
.navbar {
	background-color: #ccff99 !important;
}
h2{
	color: #55833b;
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, i, b, a, th, td, div{
	color: #55833b;
}
#footer {
	margin: 5px;
	margin-top: 50px;
}
.willow_logo {
	height: 40px;
}
.activeMenuElem {
	background-color: #83c341;
	font-weight: bold;
	color: white !important;
}
.activeMenuElem:hover {
	background-color: #55833b !important;
	font-weight: bold;
	color: #83c341 !important;
}
.inactiveManuElem {
	color: #55833b !important;
}
.inactiveManuElem:hover {
	background-color: #55833b !important;
	color: #83c341 !important;
}
#footer_tab td{
	vertical-align: top;
}
.footer_key {
	font-weight: bold;
	text-align: right;
	font-size: 14px;
	color: #55833b;
}
.footer_value {
	padding-left: 10px;
	font-size: 14px;
	font-style: italic;
	color: #55833b;
}
.contact_key {
	font-weight: bold;
	text-align: right;
	font-size: 17px;
	color: #55833b;
}
.contact_value {
	padding-left: 14px;
	font-style: italic;
	color: #55833b;
}
#transport {
	height: 32px;
}
.transport td{
	padding-left: 4px;
	padding-right: 4px;
}
.transport th{
	padding-left: 8px;
	padding-right: 8px;
}
#map {
	width: 100%;
	height:300px;
	margin:40px auto;
	border: 1px solid;
}
/* service list */
.service-list-button {
	width: 400px;
}
.sub-service-list-button {
	width: 385px;
}
.service-list-buttons {
	background-color: #f9f9f9;
}
.service-list {
	list-style-type: none;
}
#map {
	margin-top: 0 !important;
}
.spec-blocks div {
	margin-right: 5px;
	width: 180px;
	height: 300px;
	position: relative;
	float: left;
}
.spec-blocks a {
	text-decoration: none;
}
.spec-info div{
	margin-right: 5px;
	height: 300px;
	position: relative;
	float: left;
}
.specialist img {
	width: 180px;
	height: 240px;
}
.specialist p {
	text-align: center;
	color: #55833b;
}
.prod-blocks div {
	margin-right: 5px;
	width: 180px;
	height: 300px;
	position: relative;
	float: left;
}
.prod-blocks a {
	text-decoration: none;
}
.product img {
	width: 180px;
	height: 240px;
}
.product p {
	text-align: center;
	font-size: 16px;
	color: #55833b;
}
.serv_list a{
	font-style: italic;
	font-size: 20px;
	color: #55833b;
}
.serv_list_col ul{display:none;}
.serv_list_col:hover ul ul{display:none;}
.serv_list_col:hover ul{display:block;}

.prod_list_col ul{display:none;}
.prod_list_col a:click ul ul{display:none;}
.prod_list_col a:click ul{display:block;}
.serv_sub_list a{
	font-style: normal;
	font-size: 16px;
	color: #55833b;
}
.price_l a:hover {
	color: #83c341 !important;
}
.m0 {margin: 0px;}
.ml15 {margin-left: 15px;}
.ml30 {margin-left: 30px;}
.ml50 {margin-left: 50px;}
.mt5 {margin-top: 5px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.pl5 {padding-left: 5px;}
.pl15 {padding-left: 15px;}
.pl50 {padding-left: 50px;}
.p5 {padding: 5px !important;}
.w100pr {width: 100%;}
.w125 {width: 125px;}
.tdn {text-decoration: none;}
.s24 {height: 24px;}
.tal {text-align: left;}
.tac {text-align:center;}
.tar {text-align: right;}
.thrpr10 th {
	padding-right: 10px;
	text-align: right;
}
.prof_s {font-size: 14px;}
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
